<h1>New Pet healt expert</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pet_healt_expert_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.pet_healt_expert_path(@conn, :index) %></span>
